body {
  margin: 0;
  background: #7e7e7e;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container-pai {
    background: #000000;
    flex-direction: column;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#visor{
    font-size: 16px;
    background: #000;
    color: #fff;
    text-align: right;
    border-radius: 5px;
    margin: 2.5%;
}

#botoes {
    background-color: #000000;
    display: flex;
    justify-content: space-between; 
    gap: 1px;
}  

button {
  padding: 20px;
  font-size: 1.2em;
  color: white;
  background-color: #e69824;
  border: none;
  box-sizing: border-box;
  border-radius: 3px
}

button.zero {
    width: 100%;
}

#numeros {
    display: flex;
    flex-direction: column;
}

#operadores{
    display: flex;
    flex-direction: column;   
}

